#title {
    text-align: center;
    font-size: 250%;
    color: #006cca;
}

#not-found {
    text-align: center;
    font-size: 250%;
    color: #006cca;
    margin: 10px 50px 0px 50px;
}

.subtitle {
    text-align: center;
    color: #006cca;
}

.paragraph {
    text-align: center;
    font-size:110%;
    color: whitesmoke;
}

.link {
    color: #006cca;
}

.link:visited {
    color: #004dab;
}

.link:active {
    color: #037ddc;
}

.download {
    text-align: center;
    text-decoration: none;
    filter: invert(61%) sepia(0%) saturate(1623%) hue-rotate(263deg) brightness(81%) contrast(85%);
}

.download:hover {
    opacity: 0.5;
}

.table {
    border: solid #006cca 2px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    font-size: 125%;
    color: whitesmoke;
    text-align: center;
}

.table .header{
    border: solid #006cca 2px;
    font-size: 110%;
    padding: 10px;
}

.table .row{
    border: solid #006cca 2px;
    padding: 10px;
}

footer {
    background-color: #282828;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}

.footer-link {
    color: rgb(126, 126, 126);
}

.footer-link:active {
    color:rgb(151, 151, 151);
}

.footer-link:visited {
    color:rgb(92, 92, 92);
}

/* 404 */

.home {
    filter: invert(20%) sepia(98%) saturate(3409%) hue-rotate(196deg);
}

.home:hover {
    opacity: 0.5;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar-thumb {
    background: rgb(151, 151, 151);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgb(126, 126, 126);
}