.title {
    text-align: center;
    font-size:250%;
    color: #006cca;
}

.subtitle {
    text-align: center;
    color: #006cca;
}

.paragraph {
    text-align: center;
    font-size:110%;
    color: whitesmoke;
}

.download {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.download:hover {
    opacity: 0.5;
}

.table {
    border: solid #006cca 2px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    font-size: 125%;
    color: whitesmoke;
    text-align: center;
}

.table .header{
    border: solid #006cca 2px;
    font-size: 110%;
    padding: 10px;
}

.table .row{
    border: solid #006cca 2px;
    padding: 10px;
}